*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2FEBD2;
    --secondary-color: #CCBD5A;
    --accent1-color: #E68B4E;
    --accent2-color: #94D1BE;
    --font-color: black;
    --heading-font: "Boldonse";
    --text-font: "Dosis";
    --name-font-size: 5rem;
    --sub-font-size: 2rem;
    --text-font-size: 1rem;
}

h1{
    position: absolute;
    color: var(--primary-color);
    padding: 10px;
    display: block;
    font-weight: bold;
    font-family: var(--heading-font);
    font-size: var(--name-font-size);
    text-align: center;
}
 
p{
    color: black;
    padding: 1rem;
    font-size: var(--text-font-size);
    font-family: var(--text-font);
}

h2{
    color: var(--accent1-color);
    font-weight: bold;
    font-family: var(--heading-font);
    font-size: var(--sub-font-size);
}

/* correct*/
p{
    padding: 1rem;
    font-size: var(--text-font-size);
    font-family: "Dosis", sans-serif;
    max-width: 800px;
}

.sociallinks a{
    text-decoration: none; /* this is so that the social media icons don't have a line under them*/
}

.hero {
    position: relative;
}
  
div img{
    width: 100%;
    height: auto;
}

article{
    position: absolute;
    margin: 1rem;
    text-align: center;
}

article img{
    position: relative;
    display: block;
    border: 2px solid black;
    width: 150px;
    height: auto;
    float: right;
    bottom: 350px;
    right: 1px;
    padding: 2px;
}

article p {
    position: relative;
    padding: 1rem;
    color: white;
    bottom: 350px;
    right: 1px;
    box-shadow: inset 10px 10px 10px 10px rgba(52, 3, 226, 0.2);

}

div h1{
    position: absolute;
    top: 180px;
    left: 45px;
}
  
.teamwork img{
    position: absolute;
    top: 180px;
    left: 45px;
}

main{
    max-width: 840px;
    padding: 10px;
}

/* correct*/

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

/* correct*/
article img{
    float: right;
}

nav a{
    padding: 10px;
}

/* this next one was to change the sizes of the social  media icons */
nav a img{
    width: 25px;
    height: auto;
}




