*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }

:root {
    --primary-color: #2FEBD2;
    --secondary-color: #CCBD5A;
    --accent1-color: #E68B4E;
    --accent2-color: #94D1BE;
    --heading-font: "Boldonse";
    --text-font: "Dosis";
}

main{
    max-width: 840px;
    padding: 10px;
}

